<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainTitle" value="Pour recevoir les photos du mariage, donnez votre mail"/>
    <add key="ConfirmationContent" value="Merci !&#10; N'oubliez pas de nous envoyer aussi vos photos: t.bremard@gmail.com"/>
  </appSettings>
</configuration>
